## Connection

In [1]:
pwd

'C:\\Users\\Tushal\\Desktop\\python jupyter master school'

In [2]:
from sqlalchemy import create_engine
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = r"postgresql://meetings_user:xswtb7LgrTJoaKPululRsw2dEahCWTzh@dpg-chcalpqk728tp9d6fal0-b.replica-cyan.frankfurt-postgres.render.com/meetings"

# create an engine to connect to the database
engine = create_engine(url)

# create a connection object
conn = engine.connect()

ModuleNotFoundError: No module named 'sqlalchemy'

### Bunnies

In [3]:
# execute a SELECT query on the table and fetch the results
result = conn.execute('SELECT * FROM bunnies_fact')
saved_res = list(result)
#Get column names 
columns = result.keys()

# iterate over the results and print them
for row in result:
    print(row)
    break
    
bunnies_fact = pd.DataFrame((row for row in saved_res))

NameError: name 'conn' is not defined

In [19]:
bunnies_fact

,id,gender,name,breed,age,feature
0,80f4df00fa854dc4b46a3957ed3f74c9,M,Cruorhopper,Flemish Giant,6,Tiny paws
1,e6bcae70e7484d70b438ed28cde650a6,M,Night Stalker,Dutch,1,Soft fur
2,0f4575fbb5184afb96152d1131dfecef,F,Cruel Cottontail,Mini Satin,4,Cute head tilts
3,1f369b29e66141c19c8f28b2ad6cd5c5,M,Ravagepaws,Netherland Dwarf,2,Button nose
4,c19464d28a184eceb77b9fce2a9e5eb3,M,Cruorhopper,Polish,1,Fluffy tail
...,...,...,...,...,...,...
4995,77366846187947619b76d78c12922d9d,F,Stormclaw,Silver Fox,4,Tiny paws
4996,87308cd53ba544dcaa9443be3d0b1581,F,Tormenta,Flemish Giant,4,Cuddly fur
4997,9ff9add836f04ab18d6cf3d92c776af8,F,Moonshadow,Mini Satin,5,Upright ears
4998,fcd3fab9cd9d47e096a59b664042abde,M,Jawbreaker,Mini Rex,7,Wide yawns
4999,521d6c1f97f147b0896ce9f7c9ff77f2,F,Requiem Ripper,Silver Fox,6,Fluffy feet

## People

In [12]:
people = pd.read_sql('SELECT * FROM people_fact', con=engine)

### Meetings

BeautifulSoup is a popular Python library
used for web scraping purposes
to extract information from HTML and XML documents.

It provides a convenient way to parse, navigate, search, and modify the content and structure of the documents, making it easier to work with complex and nested HTML elements

without having to deal with low-level string manipulation or regex

In [ ]:


def process_table(table):
    """Extract data from an HTML table and return it as a list of lists."""
    data = []
    
    # Extract table header data
    headers = table.find_all('th')
    if headers:
        header_row = [th.text.strip() for th in headers]
        data.append(header_row)

    # Extract table body data
    rows = table.find_all('tr')
    for row in rows:
        cols = row.find_all('td')
        if cols:
            data_row = [td.text.strip() for td in cols]
            data.append(data_row)

    return data

# Specify the URL of the webpage containing the table
url = meetings_log

# Send an HTTP request to the URL and store the response
response = requests.get(url)

# Check if the request was successful (status code 200)
if response.status_code == 200:
    # Parse the HTML content of the response using BeautifulSoup
    soup = BeautifulSoup(response.content, 'html.parser')

    # Find the table element in the parsed HTML
    table = soup.find('table')

    # If a table is found, process it
    if table:
        data = process_table(table)
        print("Table successfully extracted:")
        for row in data:
            print(row)
    else:
        print("No table found on the provided URL.")
else:
    print("Failed to fetch the webpage. Please check the URL and try again.")

In [15]:
meetings_log = 'https://talnmizrachi.github.io/meetings_data/'

In [21]:
meetings = pd.read_html(meetings_log)[0]

In [31]:
meetings

,meeting_id,date,time,bunny_id,person_id,is_crime_committed
0,ef364f1f659046a2899faa32cf8f101d,2023-04-01,1321,a87a368c47a34b5cbfb831e1829f30aa,ae9a12c23bbe4d73a7639f10c5610f85,True
1,6d6080e9ce194aaa80d42574738e7169,2023-04-01,1023,6045e4d68fa94ad1a47191c53fd183b1,37173e53696f40dba4217642bc54b161,False
2,ca193d9a59ca4bcda19a9db7fc35c7f1,2023-04-01,0309,ab58f3167a144b56a94d43175c60d386,451642abfb054699a88b80ba5494566a,True
3,4a80ff32cfaf43dda7cf148f18a69ab5,2023-04-01,0245,11a2155a8a3b40d1abc728d952e2ed3e,c48700d9b6df40e7a5fc1da08a4f9240,True
4,74e1b4d3442140f4beb22680e64cd3e2,2023-04-01,1141,e7f2d30776bb4a22902a935a917a9457,53c7162ff4e94cfd81cb0d64dbbec33d,False
...,...,...,...,...,...,...
6475,7e9f5fa6e0c3452baaddb6f177393476,2023-04-27,0807,21fbcb29dd254c0fa9137bc662bbdfc6,9fb9b3d64ff54497a983223fc58ee0fb,True
6476,bc12c8f80bff4b32acc6f14a5be25de3,2023-04-28,0033,c9f2bb3f04ae45a69aae7cc177464ab4,a9cc0a2bb5f643ac83b9de6acebbfa30,False
6477,543ba0baf9ba4abcaf6728e71a6855f8,2023-04-28,2014,749d163ffce440f68f0286bc4a47634f,fe90f35facf7429da22390ce4a1ca018,True
6478,e6321c621a92430099173ccc095908e6,2023-04-29,2333,ddfdb4a4a64b4da5be0ed71fa1b35ecb,a9cc0a2bb5f643ac83b9de6acebbfa30,False
6479,3a4e091b4b924ad38dc3eb2de3a25fbf,2023-04-30,1752,b1b614ccc870471ea658816ee15da940,a9cc0a2bb5f643ac83b9de6acebbfa30,False