In [6]:
#importing the packages

import pandas as pd

from sqlalchemy import create_engine

import requests
from bs4 import BeautifulSoup

In [3]:

url = r"postgresql://meetings_user:xswtb7LgrTJoaKPululRsw2dEahCWTzh@dpg-chcalpqk728tp9d6fal0-b.replica-cyan.frankfurt-postgres.render.com/meetings"
engine = create_engine(url)
connection = engine.connect()

# create a connection object

ModuleNotFoundError: No module named 'psycopg2'

In [5]:
type(connection)

NameError: name 'connection' is not defined

### Bunnies Table

In [9]:
# execute a SELECT query on the table and fetch the results
res = connection.execute("select * from bunnies_fact")

hold_the_data = []
for row in res:
    hold_the_data.append(row)
# iterate over the results and print them

NameError: name 'connection' is not defined

In [13]:
bunnies = pd.DataFrame(hold_the_data)

bunnies.to_csv("Bunnies.csv", index=False)

### People Table

In [17]:
# execute a SELECT query on the table and fetch the results with pandas
people = pd.read_sql("select * from people_fact", con=connection)
bunnies = pd.read_sql("select * from bunnies_fact", con=connection)

In [19]:
pwd

'C:\\Users\\Tal\\Bunnies'

### Meetings Table

In [22]:
meetings_log = 'https://talnmizrachi.github.io/meetings_data/'

In [23]:
meetings = pd.read_html(meetings_log)

In [26]:
meetings = meetings[0]

In [27]:
meetings

,meeting_id,date,time,bunny_id,person_id,is_crime_committed
0,ef364f1f659046a2899faa32cf8f101d,2023-04-01,1321,a87a368c47a34b5cbfb831e1829f30aa,ae9a12c23bbe4d73a7639f10c5610f85,True
1,6d6080e9ce194aaa80d42574738e7169,2023-04-01,1023,6045e4d68fa94ad1a47191c53fd183b1,37173e53696f40dba4217642bc54b161,False
2,ca193d9a59ca4bcda19a9db7fc35c7f1,2023-04-01,309,ab58f3167a144b56a94d43175c60d386,451642abfb054699a88b80ba5494566a,True
3,4a80ff32cfaf43dda7cf148f18a69ab5,2023-04-01,245,11a2155a8a3b40d1abc728d952e2ed3e,c48700d9b6df40e7a5fc1da08a4f9240,True
4,74e1b4d3442140f4beb22680e64cd3e2,2023-04-01,1141,e7f2d30776bb4a22902a935a917a9457,53c7162ff4e94cfd81cb0d64dbbec33d,False
...,...,...,...,...,...,...
6475,7e9f5fa6e0c3452baaddb6f177393476,2023-04-27,807,21fbcb29dd254c0fa9137bc662bbdfc6,9fb9b3d64ff54497a983223fc58ee0fb,True
6476,bc12c8f80bff4b32acc6f14a5be25de3,2023-04-28,33,c9f2bb3f04ae45a69aae7cc177464ab4,a9cc0a2bb5f643ac83b9de6acebbfa30,False
6477,543ba0baf9ba4abcaf6728e71a6855f8,2023-04-28,2014,749d163ffce440f68f0286bc4a47634f,fe90f35facf7429da22390ce4a1ca018,True
6478,e6321c621a92430099173ccc095908e6,2023-04-29,2333,ddfdb4a4a64b4da5be0ed71fa1b35ecb,a9cc0a2bb5f643ac83b9de6acebbfa30,False
6479,3a4e091b4b924ad38dc3eb2de3a25fbf,2023-04-30,1752,b1b614ccc870471ea658816ee15da940,a9cc0a2bb5f643ac83b9de6acebbfa30,False