In [1]:
import pandas as pd

In [ ]:
df  = pd.read_csv('Master_project_ab_testing.csv')

In [6]:
df

,id,country,gender,group,join_dt,device,dt,device.1,spent
0,1010340,USA,F,B,2023-01-30,A,NaN,NaN,0.0
1,1020252,BRA,M,A,2023-01-27,A,NaN,NaN,0.0
2,1017309,BRA,M,A,2023-01-28,A,NaN,NaN,0.0
3,1002379,BRA,F,A,2023-02-03,A,NaN,NaN,0.0
4,1004713,TUR,NaN,B,2023-01-31,A,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...
49077,1048582,GBR,M,B,2023-01-28,I,NaN,NaN,0.0
49078,1028525,FRA,F,B,2023-01-28,A,NaN,NaN,0.0
49079,1029872,USA,M,B,2023-01-30,A,2023-01-30,A,23.0
49080,1034053,DEU,F,A,2023-01-29,A,NaN,NaN,0.0
49081,1029565,BRA,M,A,2023-01-26,A,NaN,NaN,0.0

In [8]:
df.group.value_counts()

group
B    24680
A    24402
Name: count, dtype: int64

In [11]:
mean1 = df['spent'].mean()

In [12]:
mean1

3.3731557380217194

In [13]:
sum1 = df['spent'].sum()

In [14]:
sum1

165561.22993358204

In [15]:

max1 = df['spent'].max()
min1 = df['spent'].min()
count1 = df['spent'].count()
median1 = df['spent'].median() 
std1 = df['spent'].std() 
var1 = df['spent'].var()

In [16]:
median1

0.0

In [ ]:
std1

In [ ]:
groupby_count1 = df.groupby(['id'],['group'])['spent']

In [ ]:
groupby_count1.mean()