In [1]:
import pandas as pd
import numpy as np

In [ ]:
df  = pd.read_csv('/content/sample_data/Master_project_ab_testing.csv')

In [2]:
df  = pd.read_csv('Master_project_ab_testing.csv')

In [3]:
df

,id,country,gender,group,join_dt,device,dt,device.1,spent
0,1010340,USA,F,B,2023-01-30,A,NaN,NaN,0.0
1,1020252,BRA,M,A,2023-01-27,A,NaN,NaN,0.0
2,1017309,BRA,M,A,2023-01-28,A,NaN,NaN,0.0
3,1002379,BRA,F,A,2023-02-03,A,NaN,NaN,0.0
4,1004713,TUR,NaN,B,2023-01-31,A,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...
49077,1048582,GBR,M,B,2023-01-28,I,NaN,NaN,0.0
49078,1028525,FRA,F,B,2023-01-28,A,NaN,NaN,0.0
49079,1029872,USA,M,B,2023-01-30,A,2023-01-30,A,23.0
49080,1034053,DEU,F,A,2023-01-29,A,NaN,NaN,0.0
49081,1029565,BRA,M,A,2023-01-26,A,NaN,NaN,0.0

In [30]:
df[['country', 'group','spent']].groupby(['id']).agg(['mean', 'std', 'count'])

KeyError: 'id'

In [4]:
df_aggregated = df.groupby(['id','group'])['spent'].sum()

In [28]:
df_aggregated

id       group
1000000  B        0.0
1000001  A        0.0
1000002  A        0.0
1000003  B        0.0
1000004  A        0.0
                 ...
1049995  B        0.0
1049996  A        0.0
1049997  B        0.0
1049998  B        0.0
1049999  B        0.0
Name: spent, Length: 48943, dtype: float64

In [6]:
a = df.groupby('group')['id'].nunique()

In [7]:
a

group
A    24343
B    24600
Name: id, dtype: int64

In [8]:
mean1 = a.mean()

In [9]:
mean1

24471.5

In [10]:
sum1 = df['spent'].sum()

In [11]:
sum1

165561.22993358204

In [12]:

max1 = df['spent'].max()
min1 = df['spent'].min()
count1 = df['spent'].count()
median1 = df['spent'].median() 
std1 = df['spent'].std() 
var1 = df['spent'].var()

In [13]:
stats_spent = df_aggregated.groupby('group').agg(['mean', 'std', 'count', 'sum'])

In [14]:
stats_spent

           mean        std  count           sum
group
A      3.374518  25.936391  24343  82145.903065
B      3.390867  25.414110  24600  83415.326869

In [15]:
count_a = stats_spent['count'][0]
count_b = stats_spent['count'][1]

In [16]:
mean_a = stats_spent['mean'][0]
mean_b = stats_spent['mean'][1]

In [17]:
std_a = stats_spent['std'][0]
std_b = stats_spent['std'][1]

In [23]:
CI_a = (mean_a - 1.96 * std_a/np.sqrt(count_a),mean_a + 1.96 * std_a/np.sqrt(count_a))

In [24]:
CI_a

(3.0486978529298447, 3.7003390829278375)

In [25]:
CI_b = (mean_b - 1.96 * std_b/np.sqrt(count_b),mean_b + 1.96 * std_b/np.sqrt(count_b))

In [26]:
CI_b

(3.0732794343971515, 3.7084544573744154)